@tailwind base;
@tailwind components;
@tailwind utilities;


.btn:hover{
    color: #facc15;
}

.btn::after{
  margin-top: 3px;
  content: " ";
  display: block;
  height: 3px;
  background-color: yellow;
  transform: scale(0);
  transition: transform 0.3s ease;
  transform-origin: left;
}

.btn:hover::after{
  transform: scale(1);
}


.active::after{
  margin-top: 3px;
  content: " ";
  display: block;
  height: 3px;
  background-color: yellow;
  transform: scale(0);
  transition: transform 0.3s ease;
  transform-origin: left;
}

.active,.active::after {
  color: rgb(250 204 21 / var(--tw-text-opacity, 1)) /* #facc15 */;
  transform: scale(1);
}

